/* dashboard sidebar start */
.dashboard-sidebar{
    background-color: #73497819;
    padding:10px 10px;
    border-radius: 10px;
    color:#613d65;
    font-weight: 500;
}

.sidebar_link{
color: #613d65;
}
.sidebar_link.active{
    color:#fff !important;
    }

.dashboard-sidebar .sidebar-tab .active .sidebar_link{
    color:#fff !important;
}
.dashboard-sidebar .sidebar-tab{
    padding:10px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.dashboard-sidebar .sidebar-tab.active{
    background-color:#734978 !important;
    color:#fff !important;
}
.dashboard-sidebar .sidebar-tab i{
    margin-right:10px;
}

.dashboard-sidebar .sidebar-tab:hover{
    background-color: #73497838;
}
/* dashboard sidear end */


/* main dashboard  start */
.dashboard img{
    height:100px;
    weight:100px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(189, 189, 189, 0.493);
    border:1px solid white;
}
@media (max-width: 570px) {
    .dashboard img{
        height:80px;
        weight:80px;
    }
}
.recent-membership{
    background-color: #73497819;
    padding:12px;
    border-radius: 10px;
}

.event-listing-cards{
    background-color: #73497819;
    padding:15px;
    border-radius: 10px;
    margin:10px;
    transition: all 0.25s ease-in-out;
}
.event-listing-cards:hover{
    background-color: #c9819920;
}
.event-listing-cards .event-title{
    font-size:20px;
    font-weight: 500;
    margin-bottom:8px !important;
    color: #613d65;
}
.event-time{
    font-size: 14px;
}
.event-location{
    font-size: 14px;
}
.upcoming-badge{
    color:#fff;
    background-image: linear-gradient(-45deg, #c98199, #734978);
    border-radius: 12px;
    font-size: 11px;
    padding:3px;
}
.ongoing-badge{
    color:#fff;
    background-image: linear-gradient(-45deg, #00A877, #3EB489);
    border-radius: 12px;
    font-size: 11px;
    padding:3px;
}
.completed-badge{
    color:#fff;
    filter:grayscale(1);
    background-image: linear-gradient(-45deg, #00A877, #3EB489);
    border-radius: 12px;
    font-size: 11px;
    padding:3px;
}

.invalid_input{
    color:red;
    width: 200px;
    font-size: 12px;
}
/* main dashboard  end */

/* edit profile start */
.edit-profile{
    
}
/* edit profile end */
#scroll-to-top{
    border-radius:50%; 
    height:40px; 
    width: 40px; 
    display:none;
    text-align: center;
    position: fixed;
    bottom: 50px; 
    right:50px; 
    float:right; 
    color:#ffce5b;
    background-image: linear-gradient(-45deg, #c98199 5%, #734978 50%);
    scroll-behavior: smooth;
    z-index: 1;
}
#scroll-to-top i{
    margin-top: 12px;
}

#scroll-to-top::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image:#ffffff00;
    -webkit-box-shadow: 0 0 25px rgba(189, 189, 189, 0.507);
    box-shadow: 0 0 25px rgba(189, 189, 189, 0.493);
    -webkit-animation: blinks 1.5s infinite;
    animation: blinks 1.5s infinite;
}

@keyframes blinks {
    0% {
        -webkit-transform: scale(.1, .1);
        opacity: 0;
        -ms-transform: scale(.1, .1);
        transform: scale(.1, .1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}