.event-item{
    padding:10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    transition:all 0.25s ease-in-out;
}
.event-item>a{
    color:#000;
}
.event-item .event-date{
    background-image: linear-gradient(-45deg, #c98199, #734978);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding:10px 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.event-details p{
    font-size: 14px;
}
.event-details i{
    color:#734978;
    transition:all 0.25s ease-in-out;
}

.readmore-btn{
    display:flex;
    justify-content: center;
    align-items: center;
}

.readmore-btn{
    /* background-color: #734978b7; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    color:#c98199;
    border-radius: 100%;
    height:40px;
    width: 40px;
    margin:auto 0;
}
.event-item:hover{
    background-color: #c9819920;
}

.event-item:hover .readmore-btn i{
 padding-left:10px;
 transition:all 0.25s ease-in-out;
}

.upcoming-badge, .ongoing-badge, .completed-badge{
    background-image: linear-gradient(-45deg, #c98199, #734978);
    font-size: 10px;
    color:#fff;
    padding:3px 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ongoing-badge{
    background-image: linear-gradient(-45deg, #00A877, #3EB489); 
}
.event-item.event-completed{
    filter: grayscale(1);
}

.pagination .page-link{
    border:none;
    color:#734978;
    border-radius: 10px;
}
.pagination .page-link:focus{
    box-shadow: none;
}
.pagination .page-link.active, .pagination .page-link:focus, .pagination .page-link:hover{
    border:none;
    color:#734978;
    background-color: #c59ca977;
}


/* event detail start */
.event-detail-image{
float: left;
overflow: hidden;
height: 300px;
width: 500px;
margin: 0 20px;
/* transition: all 0.25s ease-in-out; */
background-size: cover;
    background-position: center;
    border-radius: 10px;
    border:1px solid #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
   
}
.event-detail-image img{
    height: 100%;
    width: 100%;
    transition: all 0.25s ease-in-out;
}
.event-detail-image:hover img{
    filter:brightness(80%);
    transform:scale(1.1);
}
.event-detail-content p{
    white-space: pre-line;
    float: none;
}

/* media query for mobile */
@media (max-width: 570px) {
    .event-detail-image{
        height: 70%;
        width: 90%;
        margin: 20px 15px;
    }
    .event-detail-image img{
        height: 200px;
        width: 325px;
        /*  */
    }
  }

@media (min-width: 768px) and (max-width: 1024px) {
    .event-detail-image img{
        height: 150px;
        width: 250px;
    }
  }

/* event detail end */


#scroll-to-top{
    border-radius:50%; 
    height:40px; 
    width: 40px; 
    display:none;
    text-align: center;
    position: fixed;
    bottom: 50px; 
    right:50px; 
    float:right; 
    color:#ffce5b;
    background-image: linear-gradient(-45deg, #c98199 5%, #734978 50%);
    scroll-behavior: smooth;
    z-index: 1;
}
#scroll-to-top i{
    margin-top: 12px;
}

#scroll-to-top::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image:#ffffff00;
    -webkit-box-shadow: 0 0 25px rgba(189, 189, 189, 0.507);
    box-shadow: 0 0 25px rgba(189, 189, 189, 0.493);
    -webkit-animation: blinks 1.5s infinite;
    animation: blinks 1.5s infinite;
}

@keyframes blinks {
    0% {
        -webkit-transform: scale(.1, .1);
        opacity: 0;
        -ms-transform: scale(.1, .1);
        transform: scale(.1, .1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}