/* CSS for the Yoga Section */
#yoga {
    background-color: white; 
    padding-top: auto; 
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
}

.benefits {
    display: flex; 
    justify-content: space-around;
    align-items:center; 
    flex-wrap: wrap; 
}

.Info h1{
    text-align: center;
    text-size-adjust: ;
}

/* CSS for the "Information about Yoga" section */
#yoga .Info {
    text-align: center; 
    margin-top: 20px; 
    background-color: ;
}

#yoga .Info h1 {
    font-size: 24px; 
    margin-bottom: 20px;
}

#yoga .Info li {
    text-align: left;
    margin: 10px 0; 
    font-size: 16px;
}

/* CSS for the "Yoga Styles" section */

.yoga-details .types {
    text-align: center; 
}

.yoga-details .types h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.yoga-details .types p {
    text-align: left; 
    margin: 10px 0; 
    font-size: 16px;
}

.yoga-details .types ul {
    text-align: left; 
    list-style: none; 
    padding: 0;
}

.yoga-details .types li {
    margin: 10px 0;
    font-size: 16px;
}

.yoga-details .types li strong {
    font-weight: bold;
}

/* CSS for the "Benefits of Yoga" section */
#yoga-details .benefits_of_yoga {
    text-align: center; 
}

#yoga-details .benefits_of_yoga h2 {
    font-size: 24px;
    margin-bottom: 20px; 
}

#yoga-details .benefits {
    display: flex;
    justify-content: center; 
}

#yoga-details .benefit {
    text-align: center; 
    margin: 0 20px; 
    max-width: 300px; 
}

#yoga-details .benefit img {
    width: 100%; 
}

#yoga-details .benefit p {
    font-size: 16px; 
    margin-top: 10px; 
}

/* CSS for the "Yoga for Beginners" section */
.yoga-details .beginner {
    text-align: center; 
}

.yoga-details .beginner h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.yoga-details .beginner p {
    text-align: left; 
    margin: 10px 0; 
    font-size: 16px; 
}

.yoga-details .beginner ol {
    text-align: left;
    list-style-type: none;
    padding: 0; 
}

.yoga-details .beginner li {
    font-size: 16px;
    margin-bottom: 20px; 
}

.yoga-details .beginner img {
    width: 100%; 
}

/* CSS for the "Advanced Yoga Practices" section */
.yoga-details .advanced {
    text-align: center;
}

.yoga-details .advanced h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.yoga-details .advanced p {
    text-align: left; 
    margin: 10px 0;
    font-size: 16px; 
}

.yoga-details .advanced video {
    width: 100%; 
    max-width: 400px; 
}

